.incrementButton {
    background-color: green;
    width: 50px;
    height: 40px;
    border-radius: 10%;
}

.decrementButton {
    background-color: rgb(224, 52, 52);
    width: 50px;
    height: 40px;
    border-radius: 10%;
}
