.incrementMount {
    background-color: green;
    width: 50px;
    height: 40px;
    border-radius: 10%;
}

.decrementMount {
    background-color: rgb(224, 52, 52);
    width: 50px;
    height: 40px;
    border-radius: 10%;
}

.counter {
    text-align: center;
}